.paging-nav {
  padding-top:5px;
}

.paging-nav a {
  margin:auto 1px;
  text-decoration:none;
  display: inline-block;
  padding:1px 7px;
  background:transparent;
  color:#000;
  border-radius:3px;
  border:1px solid #f1f1f1;
}

.paging-nav .selected-page {
  background:#1e1e1e;
  font-weight:bold;
  color:#ccc;
}