APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TITLE="ProLook Customizer"

WEBSITE_NAME="ProLook Sports"
BUILDER_NAME="ProLook Builder"
BUILDER_APPROACH=2D
LOGO_URL=https://s3-us-west-2.amazonaws.com/prolook/images/pl-logo.png

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=database_name
DB_USERNAME=root
DB_PASSWORD=root

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=

API_HOST=localhost

AWS_ACCESS_KEY_ID=null
AWS_SECRET_ACCESS_KEY=null
AWS_REGION=null
AWS_BUCKET=null

ASSET_VERSION=null

WEBSITE_URL=null
S3_PATH=https://s3-us-west-2.amazonaws.com/uniformbuilder/

RECAPTCHA_SITE_KEY=null
RECAPTCHA_SITE_SECRET_KEY=null

REP_EMAILS=jeremy@prolook.com,tyler@prolook.com,austin@prolook.com,courtney@prolook.com,jonathanc@prolook.com,dustin@prolook.com

SLACK_VENDOR_ICON=":prolook:"

OOPS_SENDER=noreply@qstrike.com
OOPS_RECEIVER=geek@qstrike.com
