/homestead
/vendor
/node_modules
Homestead.yaml
.env
.env-staging
.DS_Store
.vagrant/
Vagrantfile
after.sh
aliases
\.idea/
npm-debug.log
public/riddell/css/riddell.css.map
public/riddell/css/riddell.css