nav {
    display: inline-block;
    vertical-align: top;
    width: 10%;
    height: 100%;
}
nav img {
    width: 12vh;
}
.main-canvas {
    display: inline-block;
    vertical-align: top;
    background-color: white;
    width: 60%;
    height: 100%;
}
.properties {
    display: inline-block;
    vertical-align: top;
    background-color: #eee;
    width: 30%;
    height: 100%;
}