

    body, h1, h2, h3, h4, h5, h6, button, a, p {
        font-family: 'Roboto', sans-serif;
    }


    /* Navbar */

        div.navbar-header {

            position: absolute;

        }

        #header_text {

            color: #363636;

        }

        a.navbar-brand {

            padding: 7px;

        }

        a.navbar-brand > img {

            padding: 3px;
            margin: 3px;

        }

    /* End Navbar */