.box-body th {
    background: #263135;
    text-align: center;
}

.box-body th {
    text-align: left;
}

.box-body th h3 {
    color: #ffffff;
    text-align: center;
}

.box-body td, th {
    border: 1px solid #e3e3e3;
    padding: 15px;
    vertical-align: top;
}

#applications_table_container {
    height: 400px;
    overflow: auto;
}

#applications_table_container th {
    background: #263135;
    color: #ffffff;
    position: relative;
    z-index: 9999;
}

#applications_table_container th:first-child, 
#applications_table_container th:nth-child(2) {
    position: relative;
    z-index: 999999;
}

#applications_table_container td:first-child, 
#applications_table_container td:nth-child(2) {
    background: #ffffff;
    border: 1px solid #f4f4f4;
    position: relative;
    z-index: 9999;
}

.material-option-item {
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

#applications_div > div {
    border: none !important;
    margin-top: 0 !important;
}

.modal-wide .modal-body {
    overflow: hidden;
}

.color-preview-pill {
    display: inline-block;
    margin-left: 16px;
    margin-top: 5px !important;
}

#material-option-bounding-box, #material-option-bounding-box-top, .divImg {
    background-size: 496px 550px;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin: 20px auto 0;
}

#boundary_template_name {
    width: 423px;
}

#save-template-container {
    margin: 15px 0;
}

#bounding-box-canvas,
.canvas-container,
.upper-canvas  {
    margin: 0 auto;
}

.select2 span,
.select2-selection__choice {
    color: #000000 !important;
}

.color-label {
    border: 1px solid #000000;
    display: inline-block;
    height: 10px;
    width: 25px;
}

#shape-guide,
#front-shape-view, 
#back-shape-view, 
#left-shape-view, 
#right-shape-view, 
#shape-view, 
#shape-view-top, 
.shape-views, #shape-crosshair {
    box-shadow: none !important;
    filter: none !important;
}

#app-controls table {
    margin: 30px auto 0 !important;
}

.thumb-container {
    box-shadow: none !important;
}