files:
  "/opt/elasticbeanstalk/compilewebpack.sh":
    owner: root
    group: root
    mode: "000755"
    content: |
      #!/bin/bash -xe
      sudo npm install --unsafe-perm node-sass@4.10.0 
      sudo npm install ajv@^6.0.0 /
      sudo npm install /var/app/current/sample
      sudo npm install --global gulp-cli 

container_commands:
  01_setupyumfornode:
    command: curl --silent --location https://rpm.nodesource.com/setup_6.x | sudo -E bash -
  02_get node:
    command: yum -y install nodejs
    
  04_compilewebpack:
    command: "/opt/elasticbeanstalk/compilewebpack.sh"

