
@import url('https://fonts.googleapis.com/css?family=Oswald');

@font-face {
  font-family: "Abrade-Black";
  // src: url("/richardson/fonts/Jason-Vandenberg-Abrade-Black.otf") format("opentype")
  src: url("/richardson/fonts/Roboto-Condensed/RobotoCondensed-Bold.ttf") format("truetype")
}

@font-face {
  font-family: "Abrade-Book";
  // src: url("/richardson/fonts/Jason-Vandenberg-Abrade-Book.otf") format("opentype")
  src: url("/richardson/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype")
}

@font-face {
  font-family: "Abrade-Heavy";
  // src: url("/richardson/fonts/Jason-Vandenberg-Abrade-Heavy.otf") format("opentype")
  src: url("/richardson/fonts/Roboto/Roboto-Bold.ttf") format("truetype")
}

@font-face {
  font-family: "Abrade-Medium";
  // src: url("/richardson/fonts/Jason-Vandenberg-Abrade-Medium.otf") format("opentype")
  src: url("/richardson/fonts/Roboto/Roboto-Medium.ttf") format("truetype")
}

@font-face {
  font-family: "Abrade-Ultra";
  // src: url("/richardson/fonts/Jason-Vandenberg-Abrade-Ultra.otf") format("opentype")
  src: url("/richardson/fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype")
}

@font-face {
  font-family: "Abrade-Ultra-Italic";
  // src: url("/richardson/fonts/Jason-Vandenberg-Abrade-Ultra-Italic.otf") format("opentype")
  src: url("/richardson/fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf") format("truetype")
}

@font-face {
  font-family: "Roboto-Condensed";
  src: url("/richardson/fonts/Roboto-Condensed/RobotoCondensed-Bold.ttf") format("truetype")
}

@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("/richardson/fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype")
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("/richardson/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype")
}

@font-face {
  font-family: "RobotoCondensed-Light";
  src: url("/richardson/fonts/Roboto-Condensed/RobotoCondensed-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("/richardson/fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
}