@import "bootstrap-glyphicon-animation";

[cloak] {
    display: none;
}

.m-b-30 {
    margin-bottom: 30px;
}

.orders-list {
    .item {
        margin-bottom: 10px;

        &:not(:last-child) {
            border-bottom: 1px solid #ccc;
        }

        img {
            width: 30%;
            display: inline-block;
        }

        .order-details {
            display: inline-block;
            vertical-align: top;

            .order-title {
                margin-top: 0;
            }
        }
    }
}