@import "button" ;
@import "_variables";
@import "colors";
@import "palette";
@import "font-style";
@import "datatable-custom";

.abrade-black {
  font-family: Abrade-Black !important;
}
.abrade-book {
  font-family: Abrade-Book !important;
}
.abrade-heavy {
  font-family: Abrade-Heavy !important;
}
.abrade-medium {
  font-family: Abrade-Medium !important;
}
.abrade-ultra {
  font-family: Abrade-Ultra !important;
}
.abrade-ultra-italic {
  font-family: Abrade-Ultra-Italic !important;
}
.oswald-regular {
  font-family: Oswald, san-serif !important;
}

body {
  font-family: Abrade-Book;
}


.btn-icon {
  padding: 8px;
  line-height: 0px;
  font-size: 6px !important; }

.padding-tiny-vertical {
  padding-top: 7px;
  padding-bottom: 7px; }

.bdr-remove {
  border: none !important; }

.bdr-remove-right {
  border-right: none !important; }

.bdr-remove-top {
  border-top: none !important; }

.bdr-top {
  border: .5px solid #eee !important;
  border-bottom: none !important;
  border-left: none !important; 
  border-right: none !important; 
}

.bdr-bottom {
    border: .5px solid $color-lightGray;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.bdr-bottom-top {
    border: .5px solid $color-lightGray;
    border-left: none !important;
    border-right: none !important;
}

.bdr-top-right {
  border: .5px solid #eee !important;
  border-bottom: none !important;
  border-left: none !important; 
  border-top: none !important;
}

.bdr-top-left {
  border: .5px solid;
  border-bottom: none !important;
  border-right: none !important;
  border-top: none !important;
}

.bdr-radius-1-2 {
  border-radius: 50% !important;
}

.bdr-thin {
  border: .5px solid; }

.bdr-reg {
  border: 1px solid !important; }

.bdrr-none {
  border-radius: 0; }

header .main-menu .uk-navbar-nav > li > a {
  height: 60px;
  min-height: 0px !important;
}


header .uk-grid-divider > :not(.uk-first-column)::before {
  border-left: solid 1.5px #aaa; }




.bottom-arrow > *.uk-active:after {
  content: " ";
  display: block;
  height: 18px;
  width: 18px;
  transform: rotate(45deg);
  text-shadow: none;
  position: relative;
  margin: 20px auto -9px auto;
  z-index: -1; }

.bottom-arrow.arrow-outward > *.uk-active:after {
  transform: rotate(45deg);
  text-shadow: none;
  position: relative;
  margin: -9px auto auto auto;
  z-index: -1; }

.bac-light > *.uk-active:after {
  background-color: #eeeeee !important; }


.bac-dark > *.uk-active:after {
  background-color: #343434 !important; }

.active-fc-red .uk-active a {
  color: $color-red;}

.active-bgc-red .uk-active a {
  color: $color-light;
  background-color: $color-red; }

.active-bdr-red .uk-active a {
  border-color: $color-red; }

.active-bgc-dark .uk-active a {
  color: $color-light;
  background-color: $color-dark; }

.active-bdr-dark .uk-active a {
  border-color: $color-dark; }

.con-select.active-bgc-dark .uk-active {
  color: $color-light;
  background-color: $color-dark;
  border-color: $color-dark; }

.con-select.active-bgc-red .uk-active {
  color: $color-light;
  background-color: $color-red;
  border-color: $color-red; }

.top-line > div a,
.top-line > li a {
  border-top: 4px solid transparent; }

.top-line.tl-red > .uk-active a {
  border-color: $color-red; }

.con-tab > li.uk-active div > img {
  background-color: #eeeeee !important; }

.con-news-letter {
  border: solid 1px white; }

.con-news-letter .form-input {
  color: #eeeeee !important;
  background-color: #343434 !important;
  border: none; }
.con-news-letter .form-input:focus {
  background-color: #343434 !important; }

//.con-news-letter .form-input-left-icon {
//  padding: 9px;
//  display: inline-block;
//  margin-right: -5px;
//  border-right: solid 1px white; }
//
//.con-news-letter .form-input-btn-right {
//  line-height: 0;
//  color: #343434 !important;
//  padding: 1px 0 1px 30px;
//  margin-left: -4px;
//  border: solid 1px #eeeeee !important; }
//  .con-news-letter .form-input-btn-right:hover {
//    background-color: #eeeeee !important; }
//
//.con-news-letter .form-input-btn-right-icon {
//  padding: 9px;
//  margin-left: 30px;
//  border-left: solid 1px; }

.con-load-design .uk-input:focus {
  color: #eeeeee !important;
  border-color: #eeeeee !important; }
.con-load-design .uk-input::placeholder {
  color: #eeeeee !important; }

.con-load-design .uk-input.bgc-red:focus {
  background-color: #e32139 !important; }

.con-load-design .uk-input.bgc-dark:focus {
  background-color: #343434 !important; }

.con-card-item > div > div {
  border: 1px solid #dedede;
  background-color: white; }

.con-steps .wizard > .actions a span.left {
  left: 0;
  border-right: 1px solid #353535;
  background: url(https://richardsonsports.com/customizer/images/css/arrow-l.png) no-repeat center center; }

.con-steps .wizard > .actions a span.right {
  right: 0;
  border-left: 1px solid #353535;
  background: url(https://richardsonsports.com/customizer/images/css/arrow-r.png) no-repeat center center; }

.thumb-nav-savedesign {
  max-width: 50px;
  padding: 5px 8px;
  border-color: $color-lightGray;}

.thumbnail-small {
  width: 44px;
  padding: 5px 8px; }

.box-palette {
  padding: 0px !important;
  border: 0px;
  border-radius: 0px;
}
.palette {
  height: 35px !important;
  width: 35px !important;
  display: block !important;
  border: 1px solid #aaaaaa !important;
}

.choice-icon {
  display: none !important; }

.con-palettes .btn-selection-choice.uk-active .choice-icon {
  display: block !important; }

.con-mascot-act-arch .btn-selection-choice {
  &.uk-active > div {
    background-color: $color-lightGray;
  }
  &.uk-active h6 {
    background-color: $color-red;
  }
  & button {
    line-height: 0px;
  }
}

.slider .rs-path-color {
  background-color: #aaaaaa !important; }

.slider .rs-handle {
  background-color: #343434 !important; }

.rs-tooltip {
  margin: 0 !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important; }

.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: #343434 !important;
  border-color: transparent; }

.ui-slider {
  background: #aaaaaa !important; }

.ui-slider-label {
  font-size: 12px;
  color: #343434 !important; }

.ui-slider-pip.ui-slider-pip-selected .ui-slider-label {
  color: #242424 !important; }

.uk-grid-small.grid-tiny {
  margin-left: -6px; }

.uk-grid-small.grid-tiny > * {
  padding-left: 6px; }

.uk-grid-small.grid-tiny>.uk-grid-margin {
  margin-top: 6px;
}

.uk-grid-small.grid-tiny.parts-container > .uk-first-column {
  margin-left: auto;
  margin-right: auto;
}

.uk-grid-small.grid-tiny-1 {
  margin-left: -6px; }

.uk-grid-small.grid-tiny-1 > * {
  padding-left: 6px; }

.uk-grid-small.grid-tiny-1>.uk-grid-margin {
  margin-top: 6px;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.con-legend .box {
  width: 20px;
  height: 20px;
}


#modal-all-application .uk-list > li:nth-child(n+2) {
  margin-top: 0;
  padding: 0;
}

.icon {
  font-size: 18px;
}


.uk-tooltip {
  font-weight: bolder;
  line-height: 0px;
  padding: 18px 15px !important;
  border-radius: 0px;
  display: block !important;
  background-color: $color-darkerGray;
  text-transform: uppercase;
  font-family: Abrade-Ultra-Italic;

  &:hover{
    display: block !important;
  }

  &:after {
    z-index: 1000 !important;
    content: " ";
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    clear: both;
    border: 0px;
  }

  &:after:hover {
    display: block !important;
  }
}

.uk-tooltip.uk-transform-origin-center-right {
  &:after {
    margin-right: -15px !important;
    top: 50% !important;
    right: 0px;
    border-bottom: 18px solid transparent;
    border-top: 18px solid transparent;
    border-left: 10px solid $color-darkerGray;
    transform: translate(-50%, -50%) !important;
  }
}

.uk-tooltip.uk-transform-origin-center-left {
  &:after {
    margin-left: -5px !important;
    top: 50% !important;
    left: 0px;
    border-bottom: 18px solid transparent;
    border-top: 18px solid transparent;
    border-right: 10px solid $color-darkerGray;
    transform: translate(-50%, -50%) !important;
  }
}

.uk-tooltip.uk-transform-origin-bottom-right {
  &:after {
    margin-bottom: -10px !important;
    bottom: 0px;
    right: 0px;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 10px solid $color-darkerGray;
  }
}

.uk-tooltip.uk-transform-origin-bottom-left {
  &:after {
    margin-bottom: -10px !important;
    bottom: 0px;
    left: 0px;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 10px solid $color-darkerGray;
  }
}

.line-divider>:nth-child(n+3):not(.uk-first-column)::before {
  content: "";
  height: 100%;
  margin-left: 0;
  border-left: 1px solid $color-gray;
  position: absolute;
}

.line-divider>:nth-child(2):not(.uk-first-column) {
  margin-right: -9px !important;
}

nav.main-menu ul li.sd a {
  margin-left: -6px;
  &:hover {
    color: $color-red;
  }
}

nav.main-menu ul li a {
  color: #636466;
  &:hover {
    color: $color-red;
  }
}

nav.main-menu ul li.sd {
  position: relative;

  &:before, &:after {
    content: " ";
    display: block;
    height: 10px;
    width: 33px;
    top: 11px;
    right: -17px;
    transform: rotate(66deg);
    -webkit-transform: rotate(66deg);
    -ms-transform: rotate(66deg);
    position: absolute;
    border-top: 1px solid $color-gray;
    background-color: $color-lightGray;
  }
  &:after {
    transform: rotate(111deg);
    top: auto;
    bottom: 11px;
    background-color: $color-lightGray;
  }
}

.hov-red{
  &:hover {
    background-color: $color-red;
    color: $color-white;
  }
}

.left-nav .box {
  height: 37px;
}

img.custom-logo-upload-preview {
  border: 1.5px dashed #aaa !important;
  max-width: 336px;
}

.link-reset {
  text-decoration: none !important;
}

.uk-disabled {
  &.con-img-added-mascot-logo {
    background-color: $color-light;
    & img {
      -webkit-filter: grayscale(100%) opacity(70%); /* Safari */
      filter: grayscale(100%) opacity(70%);
    }
  }
}

.con-add-view-application {
  & .con-add-application {
    &.uk-active {
      display: none;
    }
  }

  & .con-toggle {
    & .toggle-show.uk-active {
      background-color: $color-darker;
      color: $color-light;
    }
  }
}


.palette-pattern {
  background-size: cover !important;
  background-repeat: no-repeat;
}

// Force to #FFF if W color code
button[data-color-code="W"].palette {
  background-color: #ffffff !important;
}

button[data-color-label="W"].palette {
  background-color: #ffffff !important;
}

.existing-mascot-item {
  height: 150px !important;
}

.mascot-item a.select-mascot-item.uk-active {
  h6 {
    background-color: $color-red;
  }
}


#right-main-window.pane-main-window {
  height: 550px !important;
  background-color: white !important;
  border: 1px solid #e6e6e6 !important;
  width: 500px !important;
}

@media screen and (min-width: 640px) {

  .left-nav {
    //margin-left: -36px;
    max-width: 36px;
  }

  .left-nav .box {
    width: 100% !important;
    flex-basis: auto;
    flex: none;
  }

  .con-preview-pane-thumb-nav {
    max-width: 80px !important;
  }

  .wer {
    margin-left: 36px;
  }

}
@media screen and (min-width: 960px) {
    .con-thumb-nav-savedesign {
    max-width: 50px !important;
  }
}

.my-designs-list img {
  height: 100% !important;
}

/* Debug Panel */

div.debug-panel {
    div.loading-screen-container {
        position: absolute;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%);
    }

    div.football-loading img {
        height: 100px !important;
    }

    div.body {
        .header {
            color: #9c9c9c !important;
            text-align: center !important;
            font-size: 12px;
        }

        .contents {
            color: #9c9c9c !important;
            text-align: center !important;
            font-size: 12px;
        }
    }

    span {
        color: #9c9c9c !important;
        font-size: 12px;
    }

    .time {
        color: #e32139 !important;
    }
}

@media only screen and (max-width: 999px) {
    .debug-panel .body {
        top: 80% !important;
    }
}

@media only screen and (min-width: 1000px) {
    .debug-panel .body {
        top: 66% !important;
    }
}

@media only screen and (min-width: 1900px) {
    .debug-panel .body {
        top: 60% !important;
    }
}

/* End Debug Panel */

@media screen and (max-width: 374px) {
  .hidden-xxs {
    display:none;
  }
}


.noUi-value-horizontal, .noUi-value-sub {
    padding-top: 5px !important;
    font-size: 12px !important;
    font-weight: bolder !important;
}


.sizes-container {
  .size:hover {
    background-color: $color-red;
    color: $color-light;
    border: .5px solid;
  }

  .size.uk-active {
    background-color: $color-red;
    color: $color-light;
    border: .5px solid;
  }
}

.size-circle {
    border: .5px solid black; 
    border-radius: 50% !important;
    display: inline-block;
    font-weight: bold;
    line-height: 2.6em;
    margin-right: 5px;
    text-align: center;
    width: 35px;
}

.numbers-circle {
  border: .5px solid black; 
  border-radius: 50% !important;
  display: inline-block;
  font-weight: bold;
  line-height: 2.2em;
  margin-right: 5px;
  text-align: center;
  width: 30px;
}

.selected {
  
  .size-circle {
    background-color: $color-darkerGray;
    color: $color-white;
  }

  .numbers-circle {
    background-color: $color-darkerGray;
    color: $color-white;
  }
}

.uk-active {
  .numbers-circle {
    background-color: $color-red;
    color: $color-white;
  }

  .size-circle {
    background-color: $color-red;
    color: $color-white;
  }
}

.selected.uk-active {
  .numbers-circle {
    background-color: $color-red;
    color: $color-white;
  }

  .size-circle {
    background-color: $color-red;
    color: $color-white;
  }
}

.roster-list-height {
  min-height: 215px !important;
  max-height: 215px !important;
}

.summary-list-height {
  max-height: 256px !important;
  min-height: 256px !important;
}


.roster-form-padding {
  height: 33px !important;
}

.fixed_header{
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed_header tbody{
  display:block;
  width: 100%;
  overflow: auto;
  height: 260px;
}

.fixed_header thead tr {
   display: block;
}


.fixed_header th, .fixed_header td {
  padding: 5px;
  text-align: left;
  width: 25%;
}

tr.active {
  input {
    border: 1.5px solid !important;
  }
}

.roster-summary {
  .comma:not(:first-child) {
    margin-left: -.3em;  
  }

  .comma:empty {
    display: none;
  }

  .comma:not(:first-child):before {
    content: ", ";
  }
}

// Stock Mascot Modal
.stock-mascot-categories li.uk-active {
  background-color: $color-darkerGray;
  color: $color-white;
}

.mascot-item a.mascot-btn {
    h6 {
      background-color: $color-dark;
      color: $color-white;
    }
}


.mascot-item a.mascot-btn.uk-active {
    h6 {
      background-color: $color-red;
      color: $color-white;
    }
}