.cp-padding-xs {
    padding: 5px !important;
}

.cp-padding-small {
    padding: 15px !important;
}

.cp-padding-tiny {
    padding: 10px !important;
}

.cp-padding-medium {
    padding: 20px !important;
}

.cp-padding-large {
    padding: 30px !important;
}

.cp-padding {
    padding: 40px !important;
}

.cp-padding-remove {
    padding: 0 !important;
}

.cp-padding-remove-vertical {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.cp-padding-remove-bottom {
    padding-bottom: 0 !important;
}

.cp-padding-remove-horizontal {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.cp-padding-remove-right {
    padding-right: 0 !important;
}

.cp-padding-remove-left {
    padding-left: 0 !important;
}

.cp-padding-right-medium {
    padding-right: 25px !important;
}

.cp-margin-small {
    margin: 10px !important;
}

.cp-text-bold {
    font-weight: bolder;
}

.cp-margin-bottom-medium {
    margin-bottom: 35px !important;
}

.cp-margin-bottom-small {
    margin-bottom: 30px !important;
}

.cp-margin-top-small {
    margin-top: 25px !important;
}

.cp-margin-top-xs {
    margin-top: 15px !important;
}

.cp-margin-remove-top {
    margin-top: 0 !important;
}

.cp-margin-custom {
    margin: 10px 10px 10px 0px !important;
}

.cp-new-color-box {
    width: 35px !important;
    height: 35px !important;
    padding: 5px !important;
    border: 1px solid #aaaaaa !important;
}

.cp-gradient-color-box {
    width: 55px !important;
    height: 30px !important;
    border-radius: 0px !important;
    border-width: thin !important;
    padding: 5px !important;
}

.cp-text-uppercase {
    text-transform: uppercase !important;
}

.cp-fc-white {
    color: #ffffff !important;
}

.cp-fc-darkGray {
    color: #6c6c6c !important;
}

.cp-bgc-darkerGray {
    background-color: #606060 !important;
}

.cp-fc-red {
    color: #e32139 !important;
}

.cp-fc-black {
    color: #222222 !important;
}

.cp-text-medium {
    font-size: 15px !important;
}

.cp-text-center {
    text-align: center !important;
}

.cp-text-decoration-none {
    text-decoration: none !important;
}

.edit-pattern-modal-button {
    background-color: white !important;
    padding: 10px !important;
    border: 1px solid #eee !important;
}

.edit-gradient-modal-button {
    background-color: white !important;
    padding: 10px !important;
    border: 1px solid #eee !important;
}

.change-logo-button {
    background-color: white !important;
    padding: 10px !important;
    border: 1px solid #eee !important;
}

.edit-piping-modal-button {
    background-color: white !important;
    padding: 10px !important;
    border: 1px solid #eee !important;
}

.cp-width-1-1 {
    width: 100% !important;
}

.cp-button-active {
    background-color: #343434 !important;
    color: #eee !important;
    border: 1px solid #343434 !important;
}

.cp-margin-right-small {
    margin-right: 5px !important;
}

.cp-button-medium {
    width: 100px !important;
    padding: 10px !important;
}

.cp-tab-button {
    text-align: center;
    padding: 10px;
    color: black;
    text-decoration: none !important;
}

.cp-color-check {
    color: #837676 !important;
    font-size: 15px !important;
}

.cp-pattern-check {
    color: #ffffff !important;
    font-size: 15px !important;
}

.cp-modal-color {
    height: 30px !important;
    display: block !important;
    width: 60% !important;
}


.cp-float-none {
    float: none !important;
}

.cp-bgc-black {
    background-color: #2222 !important;
}

.cp-padding-left-medium {
    padding-left: 20px;
}

.cp-padding-left-p35 {
    padding-left: 35px !important;
}
.cp-padding-left-small {
    padding-left: 10px !important;
}

.cp-margin-remove {
    margin: 0 !important;
}

.cp-background-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(34,34,34,.8);
}

.cp-padding-top-xs {
    padding-top: 8px !important;
}

.cp-padding-top-small {
    padding-top: 15px !important;
}

.cp-padding-top-medium {
    padding-top: 20px !important;
}

.cp-pattern-check-medium {
    padding-top: 8px !important;
    font-size: 14pt !important;
    color: #ffffff !important;
}

.cp-add-cursor-no-drop {
    cursor: no-drop !important;
}

.cp-pointers-event-none {
    pointer-events: none !important;
}

.cp-padding-left-xlarge {
    padding-left: 140px !important;
}

.cp-check-colors {
    color: #3d3d3d !important;
    text-shadow: 1px 1px #d7d7d7 !important;
}

.cp-off-button {
    text-align: center;
    background-color: #acacac;
    width: 120px !important;
    font-size: 20px !important;
    color: #e3e3e3 !important
}

.piping-preview {
    height: 150px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.no-piping-message {
    padding: 0 20px;
}

.logo-preview {
    height: 300px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.cp-border-none {
    border: none !important;
}

.cp-border {
    border: 1px solid #e6e6e6 !important;
}

.cp-width-small {
    width: 150px;
}

.cp-width-xs {
    width: 60px;
}

.cp-bgc-light {
    background-color: #eee !important;
}

.cp-border-black {
    border-color: #333 !important;
}


.richardson-footer {
    float: left;
    display: block;
    width: 550px;
    overflow: hidden;
}

.cp-color-element-auto {
    width: auto !important;
    height: auto !important;
    padding-left: 7px !important;
    padding-bottom: 6px !important;
}


.richardson-arrow-left {
    padding-left: 25px !important;
}

.cp-remove-border-vertical {
    border-bottom:  0 !important;
    border-top: 0 !important;
}


.richardson-button {
    width: auto !important;
    font-size: 80% !important;
    margin: 0 !important;
}

.w-35 {
    width: 35% !important;
}

.cp-padding-horizontal-tiny {
    padding-right: 10px !important;
    padding-left: 15px !important;
}


// Richardson Piping
.piping-button {
    background-color: white !important;
    padding: 10px !important;
    border: 1px solid #eee !important;
}

.piping-button.active {
    background-color: #333 !important;
    color: #eee !important;
}

.piping-container {
    padding-right: 0 !important;
    padding-left: 7px !important;
}

// Richardson Pattern

.pattern-footer-button {
    padding-left: 0 !important;
    padding-right: 20px !important;
}

.pattern-colorpicker-container {
    padding-left: 7px !important;
    padding-right: 0 !important;
}