.cp-padding-small {
    padding: 15px !important;
}

.cp-padding-medium {
    padding: 20px !important;
}

.cp-padding-large {
    padding: 30px !important;
}

.cp-padding {
    padding: 40px !important;
}

.cp-padding-remove {
    padding: 0 !important;
}

.cp-padding-remove-vertical {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.cp-padding-remove-horizontal {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.cp-margin-small {
    margin: 10px !important;
}

.cp-text-bold {
    font-weight: bolder;
}

.cp-margin-bottom-medium {
    margin-bottom: 35px !important;
}

.cp-margin-bottom-small {
    margin-bottom: 30px !important;
}

.cp-margin-top-small {
    margin-top: 25px !important;
}

.cp-margin-remove-top {
    margin-top: 0 !important;
}

.cp-margin-custom {
    margin: 10px 10px 10px 0px !important;
}

.cp-new-color-box {
    width: 45px !important;
    height: 25px !important;
    border-radius: 0px !important;
    border-width: thin !important;
    padding: 5px !important;
}

.cp-gradient-color-box {
    width: 55px !important;
    height: 30px !important;
    border-radius: 0px !important;
    border-width: thin !important;
    padding: 5px !important;
}

.cp-text-uppercase {
    text-transform: uppercase !important;
}

.cp-fc-white {
    color: #ffffff !important;
}

.cp-fc-black {
    color: #222222 !important;
}

.cp-text-medium {
    font-size: 15px;
}

.cp-text-center {
    text-align: center !important;
}

.edit-pattern-modal-button {
    width: 150px !important;
    padding: 10px !important;
    font-size: 12px !important;
    color: black !important;
}

.edit-gradient-modal-button {
    width: 150px !important;
    padding: 10px !important;
    font-size: 12px !important;
    color: black !important;
}

.edit-piping-modal-button {
    width: 150px !important;
    padding: 10px !important;
    font-size: 12px !important;
    color: black !important;
}

.cp-width-1-1 {
    width: 100% !important;
}

.cp-button-active {
    background-color: #333 !important;
    color: #ffff !important;
    text-decoration: none !important;
}

.cp-margin-right-small {
    margin-right: 5px !important;
}

.cp-button-medium {
    width: 100px !important;
    padding: 10px !important;
}

.cp-tab-button {
    text-align: center;
    padding: 10px;
    color: black;
    text-decoration: none !important;
}

.cp-color-check {
    color: #837676 !important;
    font-size: 15px !important;
}

.cp-pattern-check {
    color: #ffffff !important;
    font-size: 15px !important;
}

.cp-modal-color {
    height: 30px !important;
    display: block !important;
    width: 60% !important;
}


.cp-float-none {
    float: none !important;
}

.cp-bgc-black {
    background-color: #2222 !important;
}

.cp-padding-left-medium {
    padding-left: 20px;
}

.cp-padding-left-small {
    padding-left: 10px !important;
}

.cp-margin-remove {
    margin: 0 !important;
}

.cp-background-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(34,34,34,.8);
}

.cp-padding-top-xs {
    padding-top: 8px !important;
}

.cp-padding-top-small {
    padding-top: 15px !important;
}

.cp-padding-top-medium {
    padding-top: 20px !important;
}

.cp-pattern-check-medium {
    padding-top: 3px !important;
    font-size: 14pt !important;
    color: #ffffff !important;
}

.cp-add-cursor-no-drop {
    cursor: no-drop !important;
}

.cp-pointers-event-none {
    pointer-events: none !important;
}

.cp-padding-left-xlarge {
    padding-left: 140px !important;
}

.cp-check-colors {
    color: #3d3d3d !important;
    text-shadow: 1px 1px #d7d7d7 !important;
}

.cp-off-button {
    text-align: center;
    background-color: #acacac;
    width: 120px !important;
    font-size: 20px !important;
    color: #e3e3e3 !important
}

.piping-preview {
    height: 320px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.no-piping-message {
    padding: 0 20px;
}

.logo-preview {
    height: 300px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.cp-border-none {
    border: none !important;
}

.cp-border {
    border: 1px solid #e6e6e6 !important;
}