/* Debug Panel */

div.debug-panel {
    div.loading-screen-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    div.football-loading img {
        height: 100px !important;
    }

    div.body {
        position: absolute;
        top: 58%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center !important;

        .header {
            color: #9c9c9c !important;
            text-align: center !important;
            font-size: 12px;
        }

        .contents {
            color: #9c9c9c !important;
            text-align: center !important;
            font-size: 12px;
        }
    }

    span {
        color: #9c9c9c !important;
        font-size: 12px;
    }
}

/* End Debug Panel */