.transition {
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    transition: all .2s;
}

#right-main-window {
    //width: 90% !important;
    position: relative;
}

.borders (@color) {
    border: 1px solid @color;
}

.radius (@size) {
    border-radius: @size;
}


#property-modifiers-menu {
    &:extend(.transition);
    height: 530px;
    width: 36px;
    position: absolute;
    left: -30px;
    top: 121px;

    .group-pane {
        display: inline-block;
        width: 36px;
        height: 36px;
        background: #eee;
        color: #666;
        text-align: center;
        border: .5px solid #dedede;
        padding-top: 8px;
        font-weight: bold;

        &:hover, &:focus, &:visited {
            text-decoration: none;
        }
    }

    .active {
        background: #e32139;
        color: white;
        //.borders(red);
    }
}

.applicationUIBlock {
    &:extend(.transition);
    width: 100%;
    background: white;

    .thumbnail {
        height: 153px;
        width: 175px;
        .borders(#666);
        .radius(0);
    }
}

div.options_panel_section#primary_options_container {
    font-family: Abrade-Book !important;
    height: 100% !important;
    max-height: 478px !important;
    display: block !important;
    padding-bottom: 10px !important;
    overflow-x: hidden;
    -ms-overflow-x: hidden;

    overflow-y: auto;
    -ms-overflow-y: auto;
}
