.neck-option-placeholder-overrides {
    resize: none;
}

.coordinating-colors-container,
.limited-colors-container {
    margin-bottom: 25px;
}

.neck-option-alias,
.neck-option-name {
    width: 130px !important;
}

.coordinating-colors-name,
.limited-colors-name,
.limited-color {
    margin-bottom: 10px;
    width: 100%;
}

select.coordinating-colors {
    width: 49%;
}

.limited-color-row .row {
    min-width: 321px;
}

.limited-colors-container,
.coordinating-colors-container {
    background: #eeeeee;
    margin-bottom: 15px;
    padding: 10px;
}

.part-and-fabrics .name {
    width: 90% !important;
}

.part-and-fabrics span.select2 {
    vertical-align: top;
    width: 84% !important;
}

.select2-selection__choice {
    color: #000000 !important;
}

.part-and-fabrics {
    margin-bottom: 10px;
}

.colorbox {
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    height: 24px;
    line-height: 2;
    margin-right: 5px;
    text-align: center;
    width: 24px;
}

.edit-neck-option-container .container {
    width: 100%;
}

.edit-neck-option-container textarea {
    resize: none;
}

.edit-neck-option-container .btn-danger {
    display: block;
}

.slideout-menu {
    -webkit-overflow-scrolling: touch;
    background: #ffffff;
    bottom: 0;
    display: none;
    min-height: 100vh;
    overflow-y: scroll;
    padding-bottom: 30px;
    position: fixed;
    top: 0;
    width: 1200px;
    z-index: 0;
}

.slideout-menu-left {
    left: 0;
}

.slideout-menu-right {
    right: 0;
}

.slideout-panel {
    background: #ecf0f5;
    min-height: 100vh;
    position: relative;
    will-change: transform;
    z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}

.block-pattern-option-2 {
    background: #ecf0f5;
    margin-bottom: 15px;
    padding: 15px;
}

.block-pattern-option-3-container {
    background: #ffffff;
    margin-top: 30px;
    padding: 30px;
}

.panel-overlay {
    background: rgba(0, 0, 0, .5);
    height: 100%;
    left: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 100%;
    z-index: 99999;
}